<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>Open pet feeder</title>
    </head>
    <body>
        <h1 style="text-align: center; margin-top: 2%;"><a href="/" style="text-decoration: none; color: inherit;"><i class="fas fa-paw" style=""></i> Open Pet Feeder</a></h1>
        
        <!-- Documentacion -->
        <h2 style="text-align: center; margin-top: 2%;"> <i>Documentation</i> </h2>
        <p style="text-align: justify; margin-left: 3% ; margin-top: 2%;">Clicando en los diferentes botones, activamos diferentes funcionalidades.

        
        </p>
        
        
        
        <!-- Footer -->
        <div class="footer fixed-bottom mt-auto py-3 bg-light">
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05); margin-bottom: -1%;">
                © 2021  <i class="fab fa-github" style="margin-left: 1%;"></i> Github:
                <a class="text-reset fw-bold" href="https://github.com/ChiaFranfer">ChiaFranfer</a> 
                <i class="fas fa-scroll" style="margin-left: 1%;"></i> Documentación: <a class="text-reset fw-bold" href="{{url_for('doc')}}"> Ir a documentación</a>
                <i class="fas fa-dog" style="margin-left: 3%;"></i> <i class="fas fa-cat" style=""></i> <i class="fas fa-heart" style=""></i>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>