<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title> Open Pet Feeder</title>
    </head>
    <body>
        <h1 style="text-align: center; margin-top: 2%;"><a href="/" style="text-decoration: none; color: inherit;"><i class="fas fa-paw" style=""></i> Open Pet Feeder</a></h1>


        <div class="container" style="margin-top: 3%;">
            {% if gw == True %}
            <div class="alert alert-success" role="alert" style="margin-bottom: 3%;">
                <i class="fas fa-laptop-house" style=""></i> Conectado a GW!
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 3%;">
                <i class="fas fa-laptop-house" style=""></i> No conectado a GW!
            </div>
            {% endif %}

            <div class="row" style="text-align: center;">
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_ping" value="ping"><i class="fas fa-comments" style=""></i>  Comprobar actividad</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_status" value="status"><i class="fas fa-clipboard-list" style=""></i>  Comprobar estado</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_check_levels" value="check_levels"> <i class="far fa-check-circle"></i>  Comprobar niveles</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_comedero" value="rellenar_comedero"><i class="fas fa-utensils" style=""></i> Rellenar comedero</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_reset_comedero" value="reset_comedero"><i class="fas fa-eraser" style=""></i> Reiniciar comedero</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_bebedero" value="rellenar_bebedero"><i class="fas fa-faucet" style=""></i> Rellenar bebedero</button>
                </div>
                
                <div class="col">
                    <button type="button" class="btn btn-dark" id="send_oled" value="update_oled"><i class="fas fa-desktop" style=""></i> Actualizar pantalla</button>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 3%;">
            <div class="console">
                <label class="form-label" for="receive"> <h4> <b>Mensajes recibidos:</b> </h4>  </label>
                <textarea readonly class="form-control" name="receive" id="receive" rows="10"></textarea>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer fixed-bottom mt-auto py-3 bg-light">
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05); margin-bottom: -1%;">
                © 2021  <i class="fab fa-github" style="margin-left: 1%;"></i> Github:
                <a class="text-reset fw-bold" href="https://github.com/ChiaFranfer">ChiaFranfer</a> 
                <i class="fas fa-scroll" style="margin-left: 1%;"></i> Documentación: <a class="text-reset fw-bold" href="{{url_for('doc')}}"> Ir a documentación</a>
                <i class="fas fa-dog" style="margin-left: 3%;"></i> <i class="fas fa-cat" style=""></i> <i class="fas fa-heart" style=""></i>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var socket = io.connect('http://' + document.domain + ':' + location.port);

                $('#send_status').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                $('#send_ping').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                $('#send_reset_comedero').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                $('#send_comedero').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                $('#send_bebedero').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                $('#send_check_levels').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                $('#send_oled').on('click', function() {
                    var message = $(this)[0].value;
                    console.log('Enviando: ' + message);
                    var data = '{' + '"message": "' + message + '"}';
                    socket.emit('send', data=data);
                });

                socket.on('receive_message', function(data){
                    console.log(data);
                    var text = data['message'];
                    var $textarea = $('#receive');
                    $textarea.val($textarea.val() + text + '\n');
                    $textarea.scrollTop($textarea[0].scrollHeight);
                })
            });
        
        </script>
    </body>
</html>